body {
  margin: 0;
  background: #111;
  color: white;
  font-family: Arial;
}

header {
  background: #000;
  padding: 15px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  background: #1c1c1c;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}

.card img {
  width: 100%;
  display: block;
}

.card p {
  padding: 10px;
  font-size: 14px;
}
